#main{
    width: 1300px;
    margin: 0 auto;
}
section #main1{
    width:1300px;
    float: right;
    margin-top: 10px;
}
/* 상품정보 */
section #main1 #book_name{
    margin: 0 0 0 50px;
    width: 1200px;
}
section #main1 #book_name h3{
    
    font-size: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid #444444;
    /* margin: 0 0 0 100px; */
} 
section #main1 #book_name h3 span{
    font-size: 30px;
    
} 
/* 책사진 */
#book_name1{
    float: left;
    margin: 20px 0 0 70px;
}
#book_word{
    width: 700px;
    float: right;
    margin: -350px 0 0 0;
    /* border: 1px solid black; */
    font-size: 20px;
    color: black;
   
}
.book_price{
    margin: 10px 0 0 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    width: 500px;

}
.book_price li{
    margin: 10px 0 0 0;
    text-align: left;
}
.price1{
    width: 100px;
    float: left;
    
    
}
.price2{
    width: 200px;
    float: left;
    /* border: 1px solid black; */

}
#book_price2{
    margin: 20px 0 0 20px;
    padding-bottom: 10px;
   
}
#book_price2 li{
    margin: 5px 5px;
    /* display: inline; */
    float: left;
   /* line-height: 2s; */
    border: 1px solid green;
 
    font-size: 15px;
}
#button_box{
    width: 500px;
    height: 100px;
    font-size: 40px;
    border-top: 1px solid #444444;
    /* border: 1px solid black; */
 
    margin: 15px 0 15px 20px;
    /* display: inline; */
}
#button_box .btn{
    padding: 15px 30px;
    font-size: 18px;
    /* line-height: ; */
    /* margin-top: 20px; */
}


/* 상품 설명 */

/* 품목종류 */
#book_int h3{
    /* width: 380px; */
    font-size: 20px;
    padding: 8px;
    margin: 10px 0 0 30px;
    /* border: 2px solid #444444; */
    /* background-color: #f5f5f5; */
}
#book_int{
    /* border: 2px solid #444444; */
    width: 350px;
    height: 100px;
    margin: 0 20px 0 0;
    padding: 5px;
}
#book_box1{
    /* width: 400px; */
    /* height: 60px; */
    margin: -10px 0 0 20px;
    /* border: 1px solid red; */
    /* border-top: 1px solid green; */
    /* border-bottom: 1px solid black; */
    /* background-color: #f5f5f5; */
    /* border: 2px solid black; */
    
    
}
/* 품목종류 설명 */
#book_box1 ul{
    padding: 10px 0 0 20px;
    font-size: 15px;
}
#book_box1 li{
    width: 1100px;
    padding: 5px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
#book_box1 .price1{
    float: left;
    width: 130px;
    font-weight: bold;
    /* margin: 1px solid black; */
}
#book_box1 .price2{
    float: left;
    font-weight: bold;
    /* margin: 1px solid black; */
    width: 600px;
}
/* 카테고리 분류 */
#cat1{
    margin-top: 150px;
}
#cat1 h3{
    font-size: 15px;
    padding-bottom: 5px;
    margin: 30px 0 0 40px;
    font-weight: bold;
    border-top: 1px solid black;    
    width: 1200px;
}
#cat1 ul{
    width: 1200px;
    margin: 0 0 0 40px;
    border-bottom: 2px solid black;
    padding: 5px;
    font-size: 10px;
}

/* 책소개 */
#int2 h3{
    font-size: 30px;
    padding-bottom: 8px;
    margin: 10px 0 0 40px;
    font-weight: bold;
}
#int2 p{
    width: 1200px;
    margin: 0 0 10px 30px;
    border-bottom: 2px solid black;
    padding: 10px;
    font-size: 20px;
}












