*{
    /* box-sizing: border-box; */
    /* outline: none; */
    /* width: 600px; */
}
/* body{
    line-height: 1.5em;
    margin: 0;
} */
#main1{
    width: 600px;
    margin: auto;
    padding: 0 20px;
    margin-bottom: 20px;
}
/* .main{
    width: 600px; 
    margin: auto;
    padding: 0 20px;
    margin-bottom: 20px;
} */

#main1 .field{
    margin: 5px 0;
}
#main1 h3{
    text-align: center;
    font-size: 30px;
}
#main1 b{
    display: block; /*수직정렬*/
    margin-bottom: 5px;
}
#main1 input:not(input[type=radio]),#main1 select{
    border: 1px solid #dadada;
    padding: 15px;
    width: 100%;
    margin-bottom: 5px;
}

#main1 input[type=button], #main1 input[type=submit]{
    background-color: #dadada;
    color: #fff;
}
#main1 input:focus, #main1 select:focus{
    border: 1px solid #2db400;
}
.birth div{
    display: flex;
    gap: 10px;
}
.field .tel-number div{
    display: flex;
}
.field .tel-number div input:nth-child(1){
    flex: 2;
}
.field .tel-number div input:nth-child(2){
    flex: 1;
}
.gender div{
    border: 1px solid #dadada;
    padding: 15px 5px;
    background-color: #fff;
    /* width: 100px; */
    text-align: center;
}
.placeholder-text{
    display: block;
    position: relative;
}

.password{
    background-size: 20px;
    background-color: #fff;
}